body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
.page-wrapper {
    background-image: url('../img/background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    color: #fff;
    margin-top: 200px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.offers {
    background-color: rgba(0,0,0,.8);
    margin-top: 200px;
    padding: 30px 75px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    &__item {

    }
}

.start-btn {
    width: 150px;
    background: #7C0A02;
    color: rgb(223, 98, 89);
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    outline: none;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 5px;
}