.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    margin-top: 200px;
}

.offers {
    background-color: #efefef;
    margin-top: 250px;
    padding: 30px 75px;
    border-radius: 5px;
    &__item {

    }
}